<% if !@record.errors.empty? %>
  <%= error_messages_for 'record' %>
<% end %>
<% id = nil unless defined?(id) %>
<% form_for(@record, :url => {:action => action, :id => id}) do |form| %>
  <table>
  <%
  column_names_for_form =
      @admin_assistant.model_class.column_names.reject { |cn|
        %w(id created_at updated_at).include?(cn)
      }
  %>
  <% column_names_for_form.each do |column_name| %>
    <tr>
      <th><%= h(column_name) %></th>
      <td><%= form.text_field column_name %></td>
    </tr>
  <% end %>
    <tr>
      <td></td>
      <td><%= submit_tag(action.capitalize) %></td>
    </tr>
  </table>
<% end %>
