<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>admin_assistant: API{% if page.title != '' %}: {{ page.title }}{% endif% %}</title>
    <link rel="stylesheet" href="/css/main.css" type="text/css" media="screen">
  </head>

  <body>
    <div id="page_header">
    <h1>admin_assistant</h1>
    <div class="nav">
      <a href="/">Home</a> |
      <a href="/getting_started.html">Getting&nbsp;started</a> |
      <a href="/api/">API&nbsp;reference</a> |
      <a href="/community.html">Community</a> |
      <a href="/design_principles.html">Design&nbsp;principles</a> |
      <a href="http://groups.google.com/group/admin_assistant">Mailing&nbsp;list</a> |
      <a href="http://github.com/fhwang/admin_assistant">Github&nbsp;page</a>
    </div>
    </div>
    <div id="body">
    <h2>
    <a href="/api/">API</a>
    {% if page.title != '' %}: {{page.title}}{% endif %}
    </h2>
    <div class="subnav">
      <a href="/api/core.html">Core</a> | 
      <a href="/api/destroy.html">Destroy</a> | 
      <a href="/api/form.html">Form</a> |
      <a href="/api/idx.html">Index</a> |
      <a href="/api/search.html">Search</a> |
      <a href="/api/show.html">Show</a>
    </div>

    {{ content }}
    </div>
  </body>
</html>
