<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>admin_assistant{% if page.title %}: {{ page.title }}{% endif% %}</title>
    <link rel="stylesheet" href="./css/main.css" type="text/css" media="screen">

    <script type="text/javascript" src="./js/prototype.js"></script>
    <script type="text/javascript" src="./js/scriptaculous.js?load=effects,builder"></script>
    <script type="text/javascript" src="./js/lightbox.js"></script>
    <link rel="stylesheet" href="css/lightbox.css" type="text/css" media="screen" />
    </head>

  <body>
    <div id="page_header">
    <h1><a href="/">admin_assistant</a></h1>
    <div class="nav">
      <a href="./screenshots.html">Screenshots</a> |
      <a href="./getting_started.html">Getting&nbsp;started</a> |
      <a href="./api/">API&nbsp;reference</a> |
      <a href="./community.html">Community</a> |
      <a href="./design_principles.html">Design&nbsp;principles</a> |
      <a href="http://groups.google.com/group/admin_assistant">Mailing&nbsp;list</a> |
      <a href="http://github.com/fhwang/admin_assistant">Github&nbsp;page</a>
    </div>
    </div>
    <div id="body">
    {% if page.title != '' %}
    <h2>{{ page.title }}</h2>
    {% endif %}
    {{ content }}
    </div>
  </body>
</html>
