pkg/*
rails_*/db/*.sqlite3
rails_*/log/*.log
rails_*/db/schema.rb
rails_*/public/images/*
rails_*/public/javascripts/admin_assistant/*.js
rails_*/public/stylesheets/admin_assistant/*.css
rails_*/public/file_column_image/*
rails_*/public/product/*
rails_*/public/system/*
rails_*/public/user/*
rails_*/tmp/*
rails_*/webrat-*.html
website/_site
*.log
*~