pkg/*
rails_*_test/db/*.sqlite3
rails_*_test/log/*.log
rails_*_test/db/schema.rb
rails_*_test/public/images/*
rails_*_test/public/javascripts/admin_assistant/*.js
rails_*_test/public/stylesheets/admin_assistant/*.css
rails_*_test/public/file_column_image/*
rails_*_test/public/product/*
rails_*_test/public/system/*
rails_*_test/public/user/*
rails_*_test/tmp/*
rails_*_test/webrat-*.html
website/_site
*.log
*~