<p style="width:800px">
  <strong>Current tags</strong>
  <br /><% Tag.find( :all ).sort_by { |t| t.tag.upcase }.each do |tag| %>
  <%= link_to_function( h( tag.tag ), "add_tag( '#{ tag.tag }' )" ) %>
  <% end %>
</p>
<script type="text/javascript">
function add_tag( new_tag ) {
  tag_str = $('record[new_tag_string]').value;
  tags = tag_str.split( ' ' );
  if ( !tags.include( new_tag ) ) { tags.push( new_tag ); }
  $('record[new_tag_string]').value = tags.join( ' ' );
}
</script>

