<html>
  <head>
    <title>Admin</title>
    <%= javascript_include_tag("prototype", "effects", "controls") %>
    <%= admin_assistant_includes %>
  </head>
  <body>
    ADMIN LAYOUT
    <%= @content_for_layout %>
  </body>
</html>
